@import "font-awesome.scss";
@import "bootstrap.scss";
@import "reset.scss";


$transition-duration: 0.4s;
$font-color: #838689;


// TODO: fonts


.main {
    color: $font-color;
}


.flex-container {
    display: flex;
}


.button {
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    background-color: #6a7079;
    transition-duration: $transition-duration;
    transition-timing-function: ease;
    transition-property: background-color;

    &:hover,
    &:active {
        color: #fff;
        background-color: #7ea4e8;

        .fa {
            color: #7ea4e8;
        }
    }

    .fa {
        margin-left: 5px;
        padding: 0px 5px;
        border-radius: 100%;
        font-weight: bold;
        color: #6a7079;
        background-color: #fff;
    }
}


.text-block {
    .text-block__text {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .text-block__link {
        font-weight: bold;
        text-transform: uppercase;
        color: #4ed2d7;

        .fa {
            margin-right: 5px;
            padding: {
                top: 3px;
                left: 3px;
                right: 3px;
                bottom: 1px;
            }
            border-radius: 100%;
            font-weight: bold;
            font-size: 0.8rem;
            color: #fff;
            background-color: #4ed2d7;
        }
    }
}


.header {
    .header__title {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 767.98px) {
            font-size: 1.4rem;
        }
    }

    .header__text {
        font-size: 1.3rem;
        margin-top: 30px;

        @media (max-width: 767.98px) {
            font-size: 1.1rem;
        }
    }
}

.tab-view {
    border: 1px solid #ececec;
    border-radius: 4px;

    .nav-tabs {
        border: 1px solid #ececec;
        background-color: #ececec;

        .nav-item {
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: $font-color;

            &.active {
                color: $font-color
            }
        }
    }

    .tab-content {
        border: 2px solid #ececec;
        border-top: none;
        padding: 30px 45px 20px 20px;
        color: $font-color;
    }
}


.marked-list {
    list-style-type: none;
    padding-left: 20px;

    .marked-list__item {
        padding: 10px 0;
        .fa {
            margin-right: 10px;
            padding: 2px;
            border-radius: 100%;
            color: #fff;
            background-color: #4ed2d7;
        }
    }
}


.main__header {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    background: {
        color: #525b64;
        image: url("../img/header-bg.jpg");
        size: cover;
        repeat: no-repeat;
    }

    .main__logo {
        text-align: center;
    }

    .main__location-address {
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: #fff;

        @media (max-height: 450px) {
            margin-top: 10px;
        }
    }

    .main__top-title {
        margin-top: 30px;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;

        @media (max-height: 450px) {
            display: none;
        }
    }

    .flex-container {
        justify-content: center;
        margin-top: 30px;

        @media (max-height: 450px) {
            margin-top: 10px;
        }

        > * {
            margin-right: 25px;
        }

        > *:last-child {
            margin-right: 0;
        }
    }
}


.main__content {
    margin-top: 100px;

    @media (max-width: 767.98px) {
        margin-top: 50px;
    }

    .text-block {
        margin-bottom: 30px;
        margin-right: 100px;

        @media (max-width: 991.98px) {
            margin-right: 50px;
        }

        @media (max-width: 767.98px) {
            margin-right: 0;
        }
    }

    .goals {
        .tab-view {
            .nav-item {
                width: 50%;
            }
        }
    }

    .speakers {
        margin-top: 100px;
        margin-bottom: 90px;

        @media (max-width: 767.98px) {
            margin-top: 50px;
            margin-bottom: 40px;
        }

        .header {
            .header__title {
                text-align: center;
            }

            .header__text {
                text-align: center;
            }
        }

        .speakers__list {
            margin-top: 60px;

            @media (max-width: 767.98px) {
                margin-top: 20px;
            }

            .speaker {
                padding-right: 60px;

                @media (max-width: 991.98px) {
                    padding-right: 20px;
                }

                @media (max-width: 767.98px) {
                    padding-right: 0;
                }

                .speaker__photo {
                    text-align: center;

                    img {
                        border-radius: 100%;
                    }
                }

                .speaker__name {
                    margin-top: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3rem;
                }

                .speaker__info {
                    margin-top: 20px;
                    text-align: center;
                }
            }

            > *:last-child .speaker {
                padding-right: 0;
            }
        }

        .speakers__bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 70px;

            @media (max-width: 767.98px) {
                margin-top: 40px;
            }

            .speakers__title {
                font-size: 1.3rem;
                text-align: center;
            }

            .button {
                margin-top: 20px;
            }
        }
    }

    .schedule {
        padding-top: 110px;
        border-top: solid 8px #f0f0f1;

        @media (max-width: 767.98px) {
            padding-top: 50px;
        }

        .tab-view {
            .tab-content {
                padding-right: 20px;
            }
        }

        .accordion {
            .card {
                border: none;

                .card-header {
                    margin-bottom: 20px;
                    border: none;
                    padding: 0;
                    background-color: #fff;

                    button {
                        padding: 0;
                        width: 100%;

                        .accordion__time {
                            margin-right: 25px;
                            padding: 3px 8px;
                            border-radius: 4px;
                            background-color: #2cc7c1;
                            color: #fff;

                            @media (max-width: 991.98px) {
                                margin-right: 5px;
                            }

                            @media (max-width: 767.98px) {
                                margin-right: 15px;
                            }
                        }

                        .accordion__header {
                            color: $font-color;
                            font-weight: bold;
                        }

                        .fa {
                            color: #2cc7c1;
                        }
                    }
                }

                .card-body {
                    padding: 0;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
