@import "font-awesome.scss";
@import "bootstrap.scss";
@import "reset.scss";


$transition-duration: 0.4s;
$font-color: #838689;


// TODO: fonts


.flex-container {
    display: flex;
}

.flex-container_justify-center {
    justify-content: center;
}

.flex-container_justify-space-between {
    justify-content: space-between;
}


.button {
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    background-color: #6a7079;
    transition-duration: $transition-duration;
    transition-timing-function: ease;
    transition-property: background-color;

    &:hover,
    &:active {
        color: #fff;
        background-color: #7ea4e8;
    }


    .fa {
        margin-left: 5px;
        padding: 0px 5px;
        border-radius: 100%;
        font-weight: bold;
        color: #7ea4e8;
        background-color: #fff;
    }
}


.text-block {
    .text-block__text {
        margin-top: 30px;
        color: $font-color;
    }
}


.header {
    color: $font-color;

    .header__title {
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
    }

    .header__text {
        font-size: 1.3rem;
        margin-top: 30px;
    }
}

.tab-view {
    border: 1px solid #ececec;
    border-radius: 4px;

    .nav-tabs {
        border: 1px solid #ececec;
        background-color: #ececec;

        .nav-item {
            width: 50%;
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: $font-color;

            &.active {
                color: $font-color
            }
        }
    }

    .tab-content {
        border: 2px solid #ececec;
        border-top: none;
        padding: 30px 45px 20px 20px;
        color: $font-color;
    }
}


.marked-list {
    list-style-type: none;
    padding-left: 20px;

    .marked-list__item {
        padding: 10px 0;
        .fa {
            margin-right: 10px;
            padding: 2px;
            border-radius: 100%;
            color: #fff;
            background-color: #4ed2d7;
        }
    }
}


.main__header {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    background: {
        color: #525b64;
        image: url("../img/header-bg.jpg");
        size: cover;
        repeat: no-repeat;
    }

    .main__logo {
        text-align: center;
    }

    .main__location-address {
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: #fff;
    }

    .main__top-title {
        margin-top: 30px;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;
    }

    .flex-container {
        margin-top: 30px;

        > * {
            margin-right: 25px;
        }

        > *:last-child {
            margin-right: 0;
        }
    }
}


.main__content {
    margin-top: 100px;

    .text-block {
        margin-bottom: 30px;
    }
}
