@import "font-awesome.scss";
@import "bootstrap.scss";
@import "reset.scss";


$transition-duration: 0.4s;
$font-color: #838689;


// TODO: fonts


.main {
    color: $font-color;
}


.flex-container {
    display: flex;
}


.button {
    padding: 15px 30px;
    border-radius: 4px;
    text-transform: uppercase;
    color: #fff;
    background-color: #6a7079;
    transition-duration: $transition-duration;
    transition-timing-function: ease;
    transition-property: background-color;

    &:hover,
    &:active {
        color: #fff;
        background-color: #7ea4e8;

        .fa {
            color: #7ea4e8;
        }
    }

    .fa {
        margin-left: 5px;
        padding: 0px 5px;
        border-radius: 100%;
        font-weight: bold;
        color: #6a7079;
        background-color: #fff;
    }
}


.text-block {
    .text-block__text {
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .text-block__link {
        font-weight: bold;
        text-transform: uppercase;
        color: #4ed2d7;

        .fa {
            margin-right: 5px;
            padding: {
                top: 3px;
                left: 3px;
                right: 3px;
                bottom: 1px;
            }
            border-radius: 100%;
            font-weight: bold;
            font-size: 0.8rem;
            color: #fff;
            background-color: #4ed2d7;
        }
    }
}


.header {
    .header__title {
        font-size: 1.8rem;
        font-weight: bold;
        text-transform: uppercase;

        @media (max-width: 767.98px) {
            font-size: 1.4rem;
        }
    }

    .header__text {
        font-size: 1.3rem;
        margin-top: 30px;

        @media (max-width: 767.98px) {
            font-size: 1.1rem;
        }
    }
}

.tab-view {
    border: 1px solid #ececec;
    border-radius: 4px;

    .nav-tabs {
        border: 1px solid #ececec;
        background-color: #ececec;

        .nav-item {
            border-radius: 4px;
            text-transform: uppercase;
            font-weight: bold;
            text-align: center;
            color: $font-color;

            &.active {
                color: $font-color
            }
        }
    }

    .tab-content {
        border: 2px solid #ececec;
        border-top: none;
        padding: 30px 45px 20px 20px;
        color: $font-color;
    }
}


.marked-list {
    list-style-type: none;
    padding-left: 20px;

    .marked-list__item {
        padding: 10px 0;
        .fa {
            margin-right: 10px;
            padding: 2px;
            border-radius: 100%;
            color: #fff;
            background-color: #4ed2d7;
        }
    }
}


.main__header {
    display: flex;
    align-items: center;
    align-content: center;
    height: 100%;
    background: {
        color: #525b64;
        image: url("../img/header-bg.jpg");
        size: cover;
        repeat: no-repeat;
    }

    .main__logo {
        text-align: center;
    }

    .main__location-address {
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
        font-size: 2rem;
        color: #fff;

        @media (max-height: 450px) {
            margin-top: 10px;
        }
    }

    .main__top-title {
        margin-top: 30px;
        text-align: center;
        font-size: 1.3rem;
        color: #fff;

        @media (max-height: 450px) {
            display: none;
        }
    }

    .flex-container {
        justify-content: center;
        margin-top: 30px;

        @media (max-height: 450px) {
            margin-top: 10px;
        }

        > * {
            margin-right: 25px;
        }

        > *:last-child {
            margin-right: 0;
        }
    }
}


.main__content {
    margin-top: 100px;

    @media (max-width: 767.98px) {
        margin-top: 50px;
    }

    .text-block {
        margin-bottom: 30px;
        margin-right: 100px;

        @media (max-width: 991.98px) {
            margin-right: 50px;
        }

        @media (max-width: 767.98px) {
            margin-right: 0;
        }
    }

    .goals {
        .tab-view {
            .nav-item {
                width: 50%;
            }
        }
    }

    .speakers {
        margin-top: 100px;
        margin-bottom: 90px;

        @media (max-width: 767.98px) {
            margin-top: 50px;
            margin-bottom: 40px;
        }

        .header {
            .header__title {
                text-align: center;
            }

            .header__text {
                text-align: center;
            }
        }

        .speakers__list {
            margin-top: 60px;

            @media (max-width: 767.98px) {
                margin-top: 20px;
            }

            .speaker {
                padding-right: 60px;

                @media (max-width: 991.98px) {
                    padding-right: 20px;
                }

                @media (max-width: 767.98px) {
                    padding-right: 0;
                }

                .speaker__photo {
                    text-align: center;

                    img {
                        border-radius: 100%;
                    }
                }

                .speaker__name {
                    margin-top: 20px;
                    text-align: center;
                    text-transform: uppercase;
                    font-weight: bold;
                    font-size: 1.3rem;
                }

                .speaker__info {
                    margin-top: 20px;
                    text-align: center;
                }
            }

            > *:last-child .speaker {
                padding-right: 0;
            }
        }

        .speakers__bottom {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-top: 70px;

            @media (max-width: 767.98px) {
                margin-top: 40px;
            }

            .speakers__title {
                font-size: 1.3rem;
                text-align: center;
            }

            .button {
                margin-top: 20px;
            }
        }
    }

    .schedule {
        margin-bottom: 140px;
        border-top: solid 8px #f0f0f1;

        @media (max-width: 991.98px) {
            margin-bottom: 100px;
        }

        @media (max-width: 767.98px) {
            margin-bottom: 70px;
        }

        .schedule__row {
            margin-top: 120px;

            @media (max-width: 991.98px) {
                margin-top: 80px;
            }

            @media (max-width: 767.98px) {
                margin-top: 50px;
            }
        }

        .schedule__cell {
            @media (max-width: 767.98px) {
                margin-top: 20px;
            }

            video {
                padding-right: 100px;
                width: 100%;

                @media (max-width: 991.98px) {
                    margin-bottom: 20px;
                    padding-right: 0;
                    width: 100%;
                }
            }

            .text-block {
                .fa-arrow-right {
                    margin: 0;
                    margin-left: 5px;
                }
            }
        }

        .tab-view {
            .tab-content {
                padding-right: 20px;
            }
        }

        .carousel {
            width: 560px;
            height: 310px;
            background-color: #ececec;

            @media (max-width: 1199.98px) {
                width: 450px;
                height: 250px;
            }

            @media (max-width: 991.98px) {
                width: 100%;
            }

            .carousel-inner {
                height: 100%;

                .carousel-item {
                    height: 100%;

                    .carousel-content {
                        display: flex;
                        justify-content: center;
                        align-content: center;
                        align-items: center;
                        height: 100%;
                    }
                }
            }

            .carousel-indicators {
                bottom: 20px;
                left: 20px;
                display: flex;
                justify-content: flex-start;
                align-content: center;
                align-items: center;
                margin: 0;

                li {
                    border: 2px solid #65d2ce;
                    width: 20px;
                    height: 20px;
                    border-radius: 100%;
                    background-color: #ececec;

                    &.active {
                        background-color: #65d2ce;
                    }
                }
            }
        }

        .accordion {
            .card {
                border: none;

                .card-header {
                    margin-bottom: 20px;
                    border: none;
                    padding: 0;
                    background-color: #fff;

                    button {
                        padding: 0;
                        width: 100%;

                        .accordion__time {
                            margin-right: 25px;
                            padding: 3px 8px;
                            border-radius: 4px;
                            background-color: #2cc7c1;
                            color: #fff;

                            @media (max-width: 991.98px) {
                                margin-right: 5px;
                            }

                            @media (max-width: 767.98px) {
                                margin-right: 15px;
                            }
                        }

                        .accordion__header {
                            color: $font-color;
                            font-weight: bold;
                        }

                        .fa {
                            color: #2cc7c1;
                        }
                    }
                }

                .card-body {
                    padding: 0;
                    padding-bottom: 20px;
                }
            }
        }
    }

    .payment {
        padding: 140px 0;
        background-color: #f3f3f3;

        @media (max-width: 991.98px) {
            padding: 100px 0;
        }

        @media (max-width: 767.98px) {
            padding: 60px 0;
        }

        .header {
            .header__title {
                text-align: center;
            }

            .header__text {
                text-align: center;
            }
        }

        .payment__form {
            margin-top: 50px;
            padding: 45px;
            background-color: #fff;

            @media (max-width: 767.98px) {
                margin-top: 30px;
                padding: 30px;
            }

            input,
            select {
                padding: 10px;
                width: 100%;
            }

            .payment__submit {
                position: relative;
                border-radius: 100%;

                @media (max-width: 991.98px) {
                    margin-top: 20px;
                }

                &:hover,
                &:active {
                    color: #fff;
                    background-color: #7ea4e8;

                    .fa {
                        color: #7ea4e8;
                    }
                }

                input {
                    border: none;
                    padding-right: 45px;
                    padding-left: 30px;
                    width: auto;
                    outline: none;
                    cursor: pointer;
                }

                .fa {
                    position: absolute;
                    right: 25px;
                    top: 13px;
                    z-index: 101;
                    padding: 0px 5px;
                    border-radius: 100%;
                    font-weight: bold;
                    color: #6a7079;
                    background-color: #fff;
                }
            }

            .payment__input {
                position: relative;
                width: 200px;

                @media (max-width: 767.98px) {
                    margin-top: 20px;
                    width: 100%;
                }

                select {
                    border: none;
                    border-radius: 4px;
                    padding: 15px 10px;
                    color: #fff;
                    outline: none;
                    background-color: #525b64;
                    cursor: pointer;

                    &:focus {
                        color: #fff;
                        background-color: #2cc7c1;
                    }

                    option {
                        color: #2cc7c1;
                        background-color: #525b64;
                    }
                }

                input {
                    outline: none;
                    z-index: 100;
                    border: #f3f3f3 2px solid;
                    border-radius: 4px;
                    color: $font-color;
                    background-color: #f3f3f3;
                    transition-duration: $transition-duration;
                    transition-timing-function: easy;
                    transition-property: border-color;

                    &:focus {
                        border-color: #2cc7c1;
                        color: #6a7079;
                        background-color: #fff;
                    }
                }

                .fa {
                    display: none;
                    position: absolute;
                    right: 10px;
                    top: 13px;
                    z-index: 101;
                    padding: 2px 2px;
                    border-radius: 100%;
                    font-weight: bold;
                    color: #fff;
                    background-color: #2cc7c1;
                }
            }
        }
    }

    .sponsor {
        padding: 60px 0;

        @media (max-width: 767.98px) {
            padding: 20px;

            img {
                margin-top: 20px;
            }

            .text-center:first-child img {
                margin-top: 0px;
            }
        }
    }

    .map {
        width: 100%;

        @media (max-width: 1199.98px) {
            height: 50%;
        }
    }
}


.main__footer {
    padding-top: 80px;
    background-color:#525b64;
    color: #fff;

    @media (max-width: 767.98px) {
        padding-top: 40px;
    }

    .page-footer__signed {
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        .page-footer__signed-count {
            font-size: 1.4rem;
        }

        .page-footer__text {
            margin-top: 10px;
        }

        .page-footer__line {
            margin-top: 10px;

            a {
                margin-right: 10px;
            }
        }
    }

    .page-footer__help{
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        .page-footer__title {
            font-size: 1.3rem;
        }

        .page-footer__text {
            margin-top: 10px;

            a {
                color: #2cc7c1;
            }
        }
    }

    .page-footer__address {
        @media (max-width: 767.98px) {
            margin-bottom: 30px;
        }

        .page-footer__title {
            font-size: 1.3rem;
            margin-bottom: 10px;
        }

        .page-footer__line {
            margin-top: 5px;

            a {
                color: #2cc7c1;

                i {
                    margin-right: 10px;
                }
            }
        }
    }

    .page-footer__bottom {
        margin-top: 80px;
        padding: 10px 0;
        width: 100%;
        background-color: #3f464c;

        @media (max-width: 767.98px) {
            margin-top: 40px;
        }
    }
}
